@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

html,
body {
  font-family: "Raleway";
  font-weight: 400;
  color: #35363a;
  background: #FFEBD3
}

/* @font-face {
  font-family: "Rubik";
  font-weight: 700;
  src:
    url("../fonts/Rubik-Bold.ttf") format("truetype"),
} */

@layer base {
  input {
    @apply text-[14px] px-[10px] h-[45px] w-full max-w-[350px] outline-none border border-black/20 rounded-[4px] font-semibold text-black font-raleway;
  }

  h1 {
    @apply text-[28px] font-bold text-black text-center font-rubik;
  }

  h2 {
    @apply text-[18px] font-raleway font-semibold text-black text-left;
  }

  h3 {
    @apply text-[14px] font-raleway font-semibold text-black text-left;
  }

  .subtitle {
    @apply text-[14px] leading-[110%] block text-black font-normal;
  }

  .button {
    @apply bg-orange hover:bg-darkOrange w-full max-w-[350px] rounded-[4px] h-[45px] text-white flex items-center justify-center ease-in duration-200 font-bold;
  }

  .error {
    @apply text-[14px] w-full max-w-[350px] text-[#cc0000];
  }

  .pumpi {
    @apply text-orange text-[64px] font-rubik font-bold mt-[-520px] ml-[30px];
  }
}