@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

html,
body {
  font-family: "Raleway";
  font-weight: 400;
  color: #35363a;
  background: rgba(255, 235, 211,.1);
}

/* @font-face {
  font-family: "Rubik";
  font-weight: 700;
  src:
    url("../fonts/Rubik-Bold.ttf") format("truetype"),
} */

.PopoverContent {
  border-radius: 4px;
  padding: 20px;
  width: 260px;
  background-color: white;
  box-shadow: hsl(206 22% 7% / 35%) 0px 10px 38px -10px, hsl(206 22% 7% / 20%) 0px 10px 20px -15px;
  animation-duration: 400ms;
  animation-timing-function: cubic-bezier(0.16, 1, 0.3, 1);
  will-change: transform, opacity;
}
.PopoverContent:focus {
  box-shadow: hsl(206 22% 7% / 35%) 0px 10px 38px -10px, hsl(206 22% 7% / 20%) 0px 10px 20px -15px,
    0 0 0 2px var(--violet-7);
}
.PopoverContent[data-state='open'][data-side='top'] {
  animation-name: slideDownAndFade;
}
.PopoverContent[data-state='open'][data-side='right'] {
  animation-name: slideLeftAndFade;
}
.PopoverContent[data-state='open'][data-side='bottom'] {
  animation-name: slideUpAndFade;
}
.PopoverContent[data-state='open'][data-side='left'] {
  animation-name: slideRightAndFade;
}

@layer base {
  input, textarea {
    @apply text-[14px] p-[10px] h-[45px] w-full max-w-[350px] outline-none border border-black/20 rounded-[4px] font-semibold text-black font-raleway placeholder:text-[15px] placeholder:text-[rgba(0,0,0,.6)];
  }

  .input {
    @apply text-[14px] p-[10px] h-[45px] w-full max-w-[350px] outline-none border border-black/20 rounded-[4px] font-semibold text-black font-raleway placeholder:text-[15px] placeholder:text-[rgba(0,0,0,.3)];
  }

  h1 {
    @apply text-[28px] font-bold text-black text-center font-rubik;
  }

  h2 {
    @apply text-[18px] font-raleway font-semibold text-black text-left;
  }

  h3 {
    @apply text-[14px] font-raleway font-semibold text-black text-left;
  }

  .subtitle {
    @apply text-[14px] leading-[110%] block text-black font-normal;
  }

  .button {
    @apply bg-orange hover:bg-darkOrange w-full max-w-[350px] rounded-[4px] h-[45px] text-white flex items-center justify-center ease-in duration-200 font-bold;
  }

  .error {
    @apply text-[14px] w-full max-w-[350px] text-[#cc0000];
  }

  .pumpi {
    @apply text-orange text-[64px] font-rubik font-bold mt-[-520px] ml-[30px];
  }

  th,td {
    @apply border border-orange text-left pl-[10px] py-[5px];
  }
  
  th {
    @apply bg-orangeBackGround/40 text-black border-orange;
  }

  table {
    @apply w-full;
  }

  label {
    @apply font-raleway text-[16px] font-semibold text-black;
  }
}